### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [201]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)

## Player Count

* Display the total number of players

In [202]:
total_players = len(purchase_data["SN"].value_counts())
playerCount = pd.DataFrame({"Total Players":[total_players]})
playerCount

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [203]:
#Index(['Item ID', 'Number of Unique Items', 'Item Name', 'Price'], dtype='object')
purchase_data.columns

Index(['Purchase ID', 'SN', 'Age', 'Gender', 'Item ID', 'Item Name', 'Price'], dtype='object')

In [204]:
# Calculate the number of unique items in the DataFrame
unique_item_count = len(purchase_data["Item Name"].unique())
purchase_count = len(purchase_data["Purchase ID"])

#Calculate average price
average_price = round(purchase_data["Price"].mean(),2)
average_price = "${:.2f}".format(average_price)
#print(average_price)

summary_df = pd.DataFrame({"Number of Unique Items": [unique_item_count], "Number of Purchases ": purchase_count, "Average Price": average_price})
summary_df

# Calculate the total number of purchases for the entire dataset
# Hint: use the pandas' sum() method to get the sum for each row
#purchase_data['Price'] = purchase_data.iloc[:, 780:].sum(axis=1)
#Purchase_ID = sum(purchase_data['Purchase ID'])


# Get total all values in column total revenue of the DataFrame
#Total_Revenue = purchase_data['Price'].sum()
#print(Total_Revenue)

# Select column 'Price' using loc[] and calculate sum of all
# values in that column
#revenue = purchase_data.loc[:, 'Price'].sum()
#print(revenue)

   Number of Unique Items  Number of Purchases  Average Price
0                     179                   780         $3.05

In [205]:
# Select column 'Price' using loc[] and calculate sum of all
# values in that column
revenue = purchase_data.loc[:, 'Price'].sum()
revenue = "${:.2f}".format(revenue)
#.style.format('${0:,.2f}'))

summary_df = pd.DataFrame({"Number of Unique Items": [unique_item_count], "Number of Purchases ": purchase_count, "Average Price": average_price, "Total Revenue": revenue})
summary_df

   Number of Unique Items  Number of Purchases  Average Price Total Revenue
0                     179                   780         $3.05      $2379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [206]:
purchase_data.head()

male_count = purchase_data[purchase_data['Gender']=='Male']
maleIndex = male_count.index
maleCount = len(maleIndex)
themaleCount = "The total number of male players is:", maleCount


female_count = purchase_data[purchase_data['Gender']=='Female']
femaleIndex = female_count.index
femaleCount = len(femaleIndex)
thefemaleCount = "The total number of female players is:", femaleCount

other_count = purchase_data[purchase_data['Gender']=='Other / Non-Disclosed']
otherIndex = other_count.index
otherCount = len(otherIndex)
theotherCount = "The total number of other/non-disclosed players is:", otherCount

print(themaleCount)
print(thefemaleCount)
print(theotherCount)

gender_stats = purchase_data.groupby("Gender")
total_count_gender = gender_stats.nunique()["SN"]
print(total_count_gender)

percent_players = total_count_gender / total_players * 100

('The total number of male players is:', 652)
('The total number of female players is:', 113)
('The total number of other/non-disclosed players is:', 15)
Gender
Female                    81
Male                     484
Other / Non-Disclosed     11
Name: SN, dtype: int64

In [208]:
#calculate the percentage of different gender players
percent_male = "{:.2%}".format(maleCount/(maleCount + femaleCount + otherCount))
percent_female = "{:.2%}".format(femaleCount/(maleCount + femaleCount + otherCount))
percent_other = "{:.2%}".format(otherCount/(maleCount + femaleCount + otherCount))



print(percent_male)
print(percent_female)
print(percent_other)

83.59%
14.49%
1.92%

In [209]:
gender_df = pd.DataFrame({
    "Gender": ["Male", "Female", "Other / Non-Disclosed"],
    "Total Count": [484, 81, 11],
    "Percentage of Players": [percent_male, percent_female, percent_other]})
gender_df

                  Gender  Total Count Percentage of Players
0                   Male          484                83.59%
1                 Female           81                14.49%
2  Other / Non-Disclosed           11                 1.92%


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [232]:
#average male purchase price
average_male_purchase_price = purchase_data.loc[purchase_data["Gender"] == "Male", ["Price"]].mean()

#print(average_male_purchase_price)
#print(average_male_purchase_price.values)


#total male purchase value
total_male_purchase_value = purchase_data.loc[purchase_data["Gender"] == "Male", ["Price"]].sum()
#print(total_male_purchase_value)
#print(total_male_purchase_value.values)

#average female purchase price
average_female_purchase_price = purchase_data.loc[purchase_data["Gender"] == "Female", ["Price"]].mean()
#print(average_female_purchase_price)
#print(average_female_purchase_price.values)

#total female purchase value
total_female_purchase_value = purchase_data.loc[purchase_data["Gender"] == "Female", ["Price"]].sum()
#print(total_female_purchase_value.values)

#average other purchase price
average_other_purchase_price = purchase_data.loc[purchase_data["Gender"] == "Other / Non-Disclosed", ["Price"]].mean()
#print(average_other_purchase_price.values)

#total other purchase value
total_other_purchase_value = purchase_data.loc[purchase_data["Gender"] == "Other / Non-Disclosed", ["Price"]].sum()
#print(total_other_purchase_value.values)


purchase_count = gender_stats["Purchase ID"].count()

average_purchase_price_gender = gender_stats["Price"].mean()

average_purchse_total_gender = gender_stats["Price"].sum()
#print(average_purchse_total_gender)
average_purchase_perPerson = average_purchse_total_gender / total_count_gender

In [319]:
gender_purchase_df = pd.DataFrame({
    "Gender": ["Female", "Male", "Other/Non-Disclosed"],
    "Purchase Count": [113, 652, 15],
    "Average Purchase Price": average_purchase_price_gender,
    "Total Purchase Value": average_purchse_total_gender,
    "Average Total Purchase per Person": average_purchase_perPerson
})




gender_purchase_df.style.format({"Average Purchase Price":"${:,.2f}",
                                  "Average Purchase Value":"${:,.2f}",
                                  "Avg Purchase Total per Person":"${:,.2f}"})

gender_purchase_df

,Gender,Purchase Count,Average Purchase Price,Total Purchase Value,Average Total Purchase per Person
Gender,,,,,
Female,Female,113,3.203009,361.94,4.468395
Male,Male,652,3.017853,1967.64,4.065372
Other / Non-Disclosed,Other/Non-Disclosed,15,3.346000,50.19,4.562727

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [364]:
bins = [0, 9.9, 14.9, 19.9, 24.9, 29.9, 34.9, 39.9, 999]
agelabels = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

sliced = pd.cut(purchase_data["Age"], bins, labels=agelabels, include_lowest=True)
purchase_data["Age Group"] = sliced
purchase_data.head()

ageGrouped = purchase_data.groupby("Age Group")
ageGrouped

ageCount = ageGrouped["SN"].nunique()
ageCount

age_percent = (ageCount / total_players) * 100

ageDemographs = pd.DataFrame({"Total Count": ageCount, "Percentage of Players": age_percent})

ageDemographs.style.format({"Percentage of Players": "{:,.2f}%"})

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [375]:
#ageSummary = ageGrouped.mean()
#ageSummary["Number of Ages"] = ageCount
#ageSummary

purchase_countByAge = ageGrouped["Purchase ID"].count()
average_purchase_priceByAge = ageGrouped["Price"].mean()
total_purchase_valueByAge = ageGrouped["Price"].sum()
av_total_purchase_per_personByAge = total_purchase_valueByAge / ageCount

purchase_Analysis = pd.DataFrame({
    "Purchase Count": purchase_countByAge,
    "Average Purchase Price": average_purchase_priceByAge,
    "Total Purchase Value": total_purchase_valueByAge,
    "Average Total Purchase per Person": av_total_purchase_per_personByAge
})
purchase_Analysis.style.format({"Average Purchase Price": "${:,.2f}",
                                "Total Purchase Value": "${:,.2f}",
                                "Average Total Purchase per Person": "${:,.2f}"})
purchase_Analysis

,Purchase Count,Average Purchase Price,Total Purchase Value,Average Total Purchase per Person
Age Group,,,,
<10,23,3.353478,77.13,4.537059
10-14,28,2.956429,82.78,3.762727
15-19,136,3.035956,412.89,3.858785
20-24,365,3.052219,1114.06,4.318062
25-29,101,2.900990,293.00,3.805195
30-34,73,2.931507,214.00,4.115385
35-39,41,3.601707,147.67,4.763548
40+,13,2.941538,38.24,3.186667

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [433]:
spenders = purchase_data.groupby("SN")

purchase_spenderCount = spenders["Purchase ID"].count()

av_purchase_priceSpender = spenders["Price"].mean()

total_purchase_valueSpender = spenders["Price"].sum()

the_Spenders = pd.DataFrame({
    "Purchase Count": purchase_spenderCount,
    "Average Purchase Price": av_purchase_priceSpender,
    "Total Purchase Value": total_purchase_valueSpender
})
#the_Spenders.head()

#sorting by top spender
top_Spenders = the_Spenders.sort_values("Total Purchase Value", ascending=False)
top_Spenders.head()

             Purchase Count  Average Purchase Price  Total Purchase Value
SN
Lisosia93                 5                3.792000                 18.96
Idastidru52               4                3.862500                 15.45
Chamjask73                3                4.610000                 13.83
Iral74                    4                3.405000                 13.62
Iskadarya95               3                4.366667                 13.10

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, average item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [474]:
items = purchase_data[["Item ID", "Item Name", "Price"]]
itemStatistics = items.groupby(["Item ID", "Item Name"])

#item count
item_PurchaseCount = itemStatistics["Price"].count()
#item_PurchaseCount.rename(index={"": "Purchase Count"})

#item price
item_price = total_purchaseValuE / item_PurchaseCount

#total purchase value
total_purchaseValuE = itemStatistics["Price"].sum()

the_popular_items = pd.DataFrame({
    "Purchase Count": item_PurchaseCount,
    "Item Price": item_price,
    "Total Purchase Value": total_purchaseValuE
})


#sorting by most popular
most_popular_items = the_popular_items.sort_values("Purchase Count", ascending=False).head()
most_popular_items

most_popular_items.style.format({"Item Price": "${:,.2f}",
                                "Total Purchase Value": "${:,.2f}"})

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [479]:
#sorting by most profitable
most_profitable_items = the_popular_items.sort_values("Total Purchase Value", ascending=False).head()
most_profitable_items

most_profitable_items.style.format({"Item Price": "${:,.2f}",
                                "Total Purchase Value": "${:,.2f}"})